.root {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 18px;
  margin-right: var(--unit);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
