.root {

}

.block {
  display: block;
}

.size-body {
  font-size: 15px;
  color: var(--color-gray-1);
}

.size-h1 {
  font-size: 23px;
  color: var(--color-gray);
  margin-bottom: var(--unit-3x);
}

.size-h2 {
  font-size: 20px;
  color: var(--color-gray);
  margin-bottom: var(--unit-2x);
}

.size-h3 {
  font-size: 17px;
  color: var(--color-gray);
}

.size-small {
  font-size: 13px;
  color: var(--color-gray-2);
}

.color-primary {
  color: var(--color-gray);
}

.color-secondary {
  color: var(--color-gray-2);
}
