.root {
  box-sizing: border-box;
  min-height: 100%;
  margin: auto;
  padding: var(--unit-8x) var(--unit-4x);
  min-width: 375px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.content {
  flex-grow: 1;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
