.root {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: var(--unit-8x) auto;
  max-width: 800px; /* 1100 */
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
