.root {
  padding: var(--unit-5x);
}

.title {
  margin-bottom: var(--unit-5x);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.item {
  position: relative;
  box-sizing: border-box;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--unit-3x) var(--unit-4x);
  height: 175px;
  border: 1px solid var(--color-gray-3);
  border-radius: var(--border-radius);
}

.item:hover {
  background-color: var(--color-gray-4);
}

.item:active,
.item:focus {
  background-color: var(--color-gray-3);
}

.item:not(:last-child) {
  margin-right: var(--unit-5x);
}

.description {
  margin-top: var(--unit-3x);
}

.main {
  overflow: auto;
}

.tags {
  margin-top: auto;
  display: flex;
}

.tagLink {
  position: relative;
}

.tag:not(:last-child) {
  margin-right: var(--unit-4x);
}
