.root {
  padding: var(--unit-5x);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 150px;
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius);
}

.item:not(:last-child) {
  margin-right: var(--unit-5x);
}

.main {
  margin-bottom: auto;
}

.tags {
  display: flex;
}
