.root {
  padding: var(--unit-5x);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
}

.main {
  margin-bottom: var(--unit-2x);
}

.tags {
  display: flex;
}
