.root {
}

.header {
  display: flex;
  padding: var(--unit-6x) var(--unit-5x) var(--unit-4x);
}

.avatar {
  width: 110px;
  height: 110px;
  margin-right: var(--unit-3x);
}

.image {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.websiteUrl {
  margin-top: var(--unit-2x);
}
