.root {

}

.header {
  display: flex;
  padding: var(--unit-6x) var(--unit-5x) var(--unit-4x);
}

.avatar {
  width: 110px;
  margin-right: var(--unit-3x);
}

.image {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.info {

}

.title {
  margin-bottom: var(--unit-3x);
}

.location {
  margin-bottom: var(--unit);
}
