:root {
  --unit: 5px;
  --unit-2x: calc(var(--unit) * 2);
  --unit-3x: calc(var(--unit) * 3);
  --unit-4x: calc(var(--unit) * 4);
  --unit-5x: calc(var(--unit) * 5);
  --unit-6x: calc(var(--unit) * 6);
  --unit-8x: calc(var(--unit) * 8);

  --color-white: #fff;
  --color-gray: #2a2928;
  --color-gray-1: #30475a;
  --color-gray-2: #687788;
  --color-gray-3: #ebebeb;
  --color-gray-4: #f8f8f8;
  --color-blue: #63a9f4;
  --color-blue-1: #2e81d9;
  --color-biege: #f7f5f4;
  --color-biege-1: #dbd9d5;

  --border-radius-small: 2px;
  --border-radius: 4px;

  --box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05),
    0 2px 4px 0px rgba(0, 0, 0, 0.05);

  --font-size: 14px;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-gray-1);
  line-height: 1.25;
  background-color: var(--color-biege);

  /* Improves font-smoothing on mac */
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}
